<div class="feature_divider"></div>
<div class="footer">
    <ul class="flex nav-ul socialIcons" style="clear:both;text-align:center;margin:0px auto;width:357px;">
        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
        <li><a href="#"><i class="fa fa-behance"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
    </ul>
    <div class="stext-107 cl6 txt-center" style="padding-top:30px;">
      Terms of use | Refund and cancellation | Privacy
    </div>
    <div class="stext-107 cl6 txt-center" style="padding-top:10px;">
      Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Kavim's Handicrafts
    </div>
</div>