<div class="close">
  <button><i class="fa fa-close" (click) = "closeBox()"></i></button>
</div>
<div class="details">
  <div class="product">
    <img src="../../assets/images/prod-8.jpg">   
  </div>
  <div class="description">
    <p>Hand Crafted, Block Printed Palazzo</p>   
    <div class="availablity">
      Availability: 5 items available
    </div>
    <div class="size">
      Size: One size fits all
    </div>
    <div class="price">
      Price: Rs 500/-
    </div>
    <div class="add_to_cart">
      <input type="number" min="1" max="5" class="quantity" value="1"><br>
      <button class="add" type="button" title="ADD TO CART" (click)="addToCart()">ADD TO CART</button><br>
      <button class="remove" type="button" title="ADD TO CART" (click)="removeItem()">REMOVE</button>                
    </div>
  </div>  
</div>
