<div class="content">
    <div class="heading">
      <div class="filters">
      <div>
        <div style="float:left;font-size:11px;margin-top: 5px;">    
          <mat-slider thumbLabel [(ngModel)]="minRange" tickInterval="1000" min="0" max="3000" (change)="resetMinMax()"></mat-slider>
        </div>      
        <div style="float:left;font-size:11px;margin-top: 5px;">          
          <mat-slider thumbLabel [(ngModel)]="fv" tickInterval="1000" min="0" max="3000" (change)="resetMinMax()"></mat-slider>
        </div>
        <div style="float:left;padding-top: 18px;font-size:11px;margin: 5px;" id="priceRange">{{minRange}} - {{fv}} INR</div>
      </div>
      <div>
          <mat-form-field style="margin:0px;padding:0px;width:100px;">
              <mat-label>Category</mat-label>
              <mat-select [(ngModel)]="category">
                <mat-option *ngFor="let each of categories" [value]="each.id">
                  {{each.category}}
                </mat-option>
              </mat-select>
          </mat-form-field> &nbsp;   
          <!--<mat-form-field style="margin:0px;padding:0px;width:100px;">
              <mat-label>Price</mat-label>
              <mat-select [(ngModel)]="order">
                <mat-option *ngFor="let order of orders" [value]="order.value">
                  {{order.viewValue}}
                </mat-option>
              </mat-select>
          </mat-form-field>-->
      </div>    
      <div class="pagination">      
        <button class="navBtn" (click)="loadPrevious()"><i class="fa fa-angle-double-left"></i></button>&nbsp;
        <button class="navBtn" (click)="loadNext()"><i class="fa fa-angle-double-right"></i></button>
      </div>    
      </div>
      <div style="clear:both;"></div>
    </div>
    
    <div class="row">
      <app-product *ngFor="let product of products | myfilter: minRange : fv : order : category" imgInput={{product.imageUrl}} description={{product.description}} price={{product.price}} id={{product.id}}></app-product>    
    </div>
  </div>