<div class="product">
    <img src={{imgInput}} (load)="onImageLoad()">
    <div class="details">
      {{description}}
    </div>  
    <div class="price">
      Rs {{price}}
    </div>
    <div class="add_to_cart">
      <button type="button" title="ADD TO CART" (click)="addToCart(imgInput,description,price,id)">ADD TO CART</button>
      <br>
      <a routerLink="/details/{{id}}"  routerLinkActive="active">VIEW DETAILS</a>
    </div>
</div>
<ngx-spinner
type="line-scale-party"
size="large"
bdColor="rgba(255,255,255,1)"
color="rgba(100,149,237,1)"
>
</ngx-spinner>