@font-face {
  font-family: Segoe UI Italic;
  src: url(fonts/Segoe_UI_Italic.ttf);
}
@font-face {
  font-family: Segoe UI Bold Italic;
  src: url(fonts/Segoe_UI_Bold_Italic.ttf);
}
@font-face {
  font-family: Segoe UI Bold;
  src: url(fonts/Segoe_UI_Bold.ttf);
}
@font-face {
  font-family: Segoe UI;
  src: url(fonts/Segoe_UI.ttf);
}
.flex {
  display: flex;
}
.right-justify {
  float: right;
}
.left-justify {
  float: left;
}
.fullWidth {
  width:100%;
  display:flex;
  margin:25px 0px;
  justify-content: space-between;
}
