<div class="banner">  
    <img src="../../assets/images/title.png">
</div>
<div class="filters">
    <h2>FEATURED PRODUCT</h2>
    <img src="../../assets/images/banner.jpg" style="width:100%;margin-top:0px;z-index:0">
    <p>Rajasthani salwars and kurtis </p>      
    <a class="view" routerLink="/cart" routerLinkActive="active">VIEW COLLECTION</a>   
</div>

<div class="content">
  <div class="heading">
    <h2 style="float:left;text-align:center;width:calc(100% - 250px);padding-top:0px;text-align:center;">CATALOG</h2>
    <div style="float: right;width:250px;">  
    Price
    <mat-slider label="Price" [(ngModel)]="fv" min="300" max="3000" step="1" value="1000"></mat-slider>
    {{fv}}
    </div>
    <div style="clear:both;"></div>
  </div>  
  
  <div class="row">
    <app-product *ngFor="let product of products | myfilter: fv" imgInput={{product.imageUrl}} description={{product.description}} price={{product.price}} id={{product.id}}></app-product>    
  </div>
</div>