<div class="banner">  
    <img src="../../assets/images/title.png" (load)="onImageLoad()">
</div>
<div class="filters">
    <h2>FEATURED PRODUCT</h2>
    <img src="../../assets/images/banner.jpg" style="width:100%;margin-top:0px;z-index:0" (load)="onImageLoad()">
    <p>Rajasthani salwars and kurtis </p>      
    <a class="view" routerLink="/cart" routerLinkActive="active">VIEW COLLECTION</a>   
</div>

<div class="content">
  <div class="heading">
    <h2 style="text-align:center;padding-top:20px;text-align:center;">CATALOG</h2>
    <div style="clear:both;"></div>
  </div>
  
  <div class="row">
    <app-product *ngFor="let product of products | myfilter: minRange : fv : order : category" imgInput={{product.imageUrl}} description={{product.description}} price={{product.price}} id={{product.id}}></app-product>    
  </div>

  <div class="row">
    <div class="add_to_cart">
      <a routerLink="/products" routerLinkActive="active">VIEW MORE</a>
    </div>   
  </div>
 
</div>

<ngx-spinner
type="line-scale-party"
size="large"
bdColor="rgba(255,255,255,1)"
color="rgba(100,149,237,1)"
>
</ngx-spinner>